@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.disabled {
	pointer-events: none;
	opacity: 0.25;
}

@layer utilities {
	.basic-link {
		@apply !text-pink-300 !no-underline border-b-2 border-dashed border-indigo-500 hover:border-solid hover:border-pink-500 leading-none;
	}
	.basic-link.active {
		@apply border-pink-500 border-solid;
	}
}

.btn {
	@apply transition duration-1000 bg-gray-900 hover:bg-white hover:text-black  font-mono border-dashed border-white px-3 py-2 border text-white cursor-pointer;
}

.btn-lg {
	@apply tracking-wide text-2xl uppercase;
}
